<!doctype html>
<html>
<head>
    <title>App Engine WebMarket</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <h1>App Engine WebMarket</h1>
    <div>
        {% if nome %}
        Olá, {{ nome }}! | 
        {% endif %}
        <a href="{{ url }}">{{ texto_link }}</a>
    </div>
    <h2>Adicionar produto</h2>
    <form action="/add" method="post">
      <div><label for="descricao">Descrição</label> <input type="text" name="descricao"></div>
      <div><input type="submit" value="Adicionar"></div>
    </form>
    <ul>
        {% for produto in produtos %}
        <li>{{ produto.descricao }}</li> 
        {% endfor %}
    </ul>
</body>
</html>